/* Normalize links in Gmail */

u + #body a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Hide the download button on large images */

u ~ div img + div > div {
  display: none;
}
